<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>dorsignola@deloitte.it</emailSenderAddress>
    <emailSenderName>High Growth</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Topics</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>StandardAul</profile>
        <profile>Force%2Ecom - Free User</profile>
        <profile>Company Communities User</profile>
        <profile>Chatter Only User</profile>
        <profile>Cross Org Data Proxy User</profile>
        <profile>Work%2Ecom Only User</profile>
        <profile>Analytics Cloud Security User</profile>
        <profile>Analytics Cloud Integration User</profile>
        <profile>SolutionManager</profile>
        <profile>Community High Growth</profile>
        <profile>Custom%3A Sales Profile</profile>
        <profile>Custom%3A Marketing Profile</profile>
        <profile>Custom%3A Support Profile</profile>
        <profile>MarketingProfile</profile>
        <profile>ContractManager</profile>
        <profile>Standard</profile>
        <profile>Advisor</profile>
        <profile>Customer Associate</profile>
        <profile>Sales Associate</profile>
        <profile>Manager</profile>
        <profile>ServiceCloud</profile>
        <profile>ReadOnly</profile>
    </networkMemberGroups>
    <picassoSite>High_Growth1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>High_Growth</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>HighGrowth</urlPathPrefix>
    <welcomeTemplate>unfiled$public/welcomecommunityvAM</welcomeTemplate>
</Network>
